/* 設定 main 排版 */
main {
  margin-top: 60px;
  padding: 25px 50px;
}

.info-section,
.skill-section,
.experience-section,
.description-section {
  width: 100%;
  margin-bottom: 1px;
}

/* 導入媒體查詢(寬576px以上) */
@media screen and (min-width: 576px) {
  .skill-section {
    display: flex;
    // flex-flow: row wrap;
    // justify-content: space-between;
  }

  .skill {
    flex-basis: 30%;
  }

  .skill-description {
    margin-bottom: 5px;
  }
}

/* 導入媒體查詢(寬1200px以上) */
@media screen and (min-width: 1200px) {
  .experience-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .job-title {
    border-top: 1px solid var(--decoration-line-color);
    padding-top: 16px;
  }

  .experience-item {
    flex-basis: 30%;
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .info-section {
    flex-basis: 30%;
    margin: 0 auto;
  }

  .description-section {
    flex-basis: 40%;
  }

  .skill-experience-section {
    flex-basis: 100%;
  }
}
