.company,
.duration {
  color: var(--main-text-color);
  font-size: 12px;
  margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
  color: var(--company-color);
}

.exp-description {
  white-space: nowrap;
}
